
<strong>Board name:</strong> <%= @board %>
<br><br>

<table class="u-full-width">
    <tr>
    <% @lists.each do |list| %>
        <th><%= list['name'] %></th>
        <% list['cards'].each do |card| %>
            <%if !card['closed'] %>
                <tr><td><%= card['name'] %></td></tr>
            <% end %>
        <% end %>
    <% end %>
    </tr>
</table>

<%= form_with url: "/new", method: :get do |form| %>
  <%= form.label :title, "Create new card:" %>
  <%= form.text_field :title %>
  <%= form.submit "Create" %>
<% end %>
